// Code by Ida Gundhammar 2021-10-07, student at Mittuniversitetet, HT2020.


// Imports and declaring variables.
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@800&family=Padauk&family=Titillium+Web&display=swap');
$headings-stack: "Titillium Web", san-serif;
$articles-stack: "Fira Sans Condensed", san-serif;
$font-stack: Helvetica, san-serif;
$font-color: #000;
$article-font-size: 1.2em;
$hover-color: #113989;
$background-color1: #d0d0d0;
$background-color2: #CAD2C5;
$background-color3: #84A98C;





